<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.image_folder }}/logo.png"></a>

    <nav class="menu">
      <a id="mobile_menu" href="#">&#9776;</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/curriculo/">Informações</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/servicos/">Serviços</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/contato/">Contato</a>
        </li>
      </ul>
    </nav>

  </div>

</header>
